{% extends 'base.html' %}

{% block header %}
  <h1 class="headtitle">{% block title %}{{season[0]-1}} - {{season[0]}} Season{% endblock %}</h1>
  <h3 class="headtitle"> {{season[1]}}  -  {{season[2]}}</h3>
{% endblock %}

{% block content %}
<form method="POST" action="{{url_for('season.seasons')}}">
    <select class="form-select" aria-label="Default select example" name="season_select">
        <option selected>Select Season</option>
        {% for year in years%}
        <option value={{year}}>{{year - 1}} - {{year}} Season</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Go</button>
</form>
<div class="text-center mx-auto" style="width: 85%;">
    <table class="table">
      <thead>
          <tr>
          <th scope="col">Team Name</th>
          <th scope="col">Wins</th>
          <th scope="col">Losses</th>
          <th scope="col">Games Played</th>
          </tr>
      </thead>
      <tbody>
      {% for team in teams%}
      <tr>
      <td><a href="{{url_for('season.seasons')}}/{{season[0]}}/{{team[1]}}">{{team[0]}}</a></td>
      <td>{{team[2]}}</td>
      <td>{{team[3] - team[2]}}</td>
      <td>{{team[3]}}</td>
      </tr>
      {% endfor %}
      </ul>
  </div>
{% endblock %}