{% extends 'base.html' %}

{% block header %}
  <h1 class="headtitle">{% block title %}Player{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST" action="{{url_for('player.players')}}/update/{{player[0]}}">
    <div class="row g-3" style="justify-content: space-between; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-3">
          <label for="inputEmail4" class="form-label">First Name</label>
          <input type="text" class="form-control" name="first_name" value={{player[1]}} required>
        </div>
        <div class="col-md-3">
          <label for="inputPassword4" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="last_name" value="{{player[2]}}" required>
        </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Nationality</label>
            <input type="text" class="form-control" name="nationality" value="{{player[4]}}" required>
        </div>
      </div>
    <div class="row g-3" style="justify-content: space-between; margin-left: 10px; margin-right: 10px;">
        <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Date Of Birth</label>
            <input type="date" class="form-control" value="{{player[3]}}" name="DOB" required>
        </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Position</label>
            <input type="text" class="form-control" value="{{player[5]}}" name="position" required>
        </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Number</label>
            <input type="number" class="form-control" value="{{player[6]}}" name="number" required>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Update</button>
</form>
{% endblock %}